{% comment %} Set some product details so we can use them in multiple spots {% endcomment %}
{% assign product_title_shortened = product.title | remove: 'BioLite' %}
{% assign default_variant = bold_selected_or_first_available_variant %}
{% assign featured_image = bold_selected_or_first_available_variant.featured_image | default: product.featured_image %}
{% assign features_and_specs = product.metafields.content.features_and_specs | split: ',' %}
{% assign colors = product.metafields.colors.color | split: ',' %}

{% capture product_price_meta %}
<link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">
<meta itemprop='excludedLocales' content='{{product.metafields.locale.excluded}}'/>
<meta itemprop="priceCurrency" content="{{ shop.currency }}">
{% if colors.size > 0 %}
  <meta itemprop="productColor" content="{{ colors[0] }}">
{% endif %}
<meta itemprop='productID' content='{{ product.id }}' />
<meta itemprop='productAddToCartText' content='{{ add_to_cart_text }}' />
<meta itemProp='quantity' content="1"/>
  {% for variant in product.variants %}
{%- include 'bold-variant' with variant, hide_action: 'skip' -%}
    {% if colors.size > 0 %}
      {% unless (variant.option1 == "Default" and variant.option2 == "Default") %}
        {% assign variant_color = variant.option2 %}
        {% assign images = product.metafields.images[variant_color] | split: ','%}
        <meta itemProp='variantImage' data-variant-id="{{ variant.id}}" content="{{ images[0] }}"/>
        <meta itemprop='variantPrice' location='{{ variant.option1 }}' data-color="{{ variant.option2 }}" content='{{ bold_variant_price }}' data-variant-id='{{ variant.id }}' />
        {% if variant.compare_at_price %}
          <meta itemprop='comparePrice' location='{{ variant.option1 }}' data-color="{{ variant.option2 }}" content='{{ variant.compare_at_price }}' data-variant-id='{{ variant.id }}' />
        {% endif %}
      {% endunless %}
    {% else %}
      <meta itemprop='variantPrice' location='{{ variant.option1 }}' content='{{ bold_variant_price }}' data-variant-id='{{ variant.id }}' />
      {% if variant.compare_at_price %}
        <meta itemprop='comparePrice' location='{{ variant.option1 }}' content='{{ variant.compare_at_price }}' data-variant-id='{{ variant.id }}' />
      {% endif %}
    {% endif %}
  {% endfor %}
{% endcapture %}

{% capture product_price_options %}
  {% for variant in product.variants %}
{%- include 'bold-variant' with variant, hide_action: 'skip' -%}
  {% if colors %}
    {% unless (variant.option1 == "Default" and variant.option2 == "Default")%}
      <option {% if variant==bold_selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}" data-color="{{ variant.option2 }}" data-locale="{{ variant.option1 }}">{{ bold_variant_price | money_with_currency }}</option>
    {% endunless %}
  {% else %}
    <option {% if variant==bold_selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}" data-locale="{{ variant.option1 }}">{{ bold_variant_price | money_with_currency }}</option>
  {% endif %}
  {% endfor %}
{% endcapture %}

<span itemscope itemtype="http://schema.org/Product">
  <nav class="nav-horizontal nav-horizontal--products" data-sticky>
    <div class="wrapper wrapper--full wrapper--max_height">
      <div class="grid__item grid__item--p0 nav-horizontal__title">
        {% assign product_title_shortened = product.title | remove: 'BioLite'  | remove: '(BaseCamp Sold Separately)' %}
        <a href="#" data-control-scrollto="#product_top" class="gray-warm din-medium" title="{{ product_title_shortened }}">{{ product_title_shortened }}</a>

        
      </div>
      <div class="grid__item nav-horizontal__menu">
      </div>
   {% if product.tags contains 'outofstock' %}

    {% else %}

       <div class="grid__item nav-horizontal__action">
        <a
          href="#"
          onClick="_gaq.push(['_trackEvent', 'Click', 'Sticky Nav Add To Cart', '{{ product.title }}']);"
          class="btn btn-icon btn-icon--full btn-icon--right btn-secondary btn-full cart-item--add ml0 mt0"
          data-product-variant="{{ default_variant.id }}"
          data-control-animation data-control-animation-target="#cart-item-badge"
          data-control-animation-class="flash"
           title="Add {{product.title}} to My Cart">
          <span style="font-weight:600;">Preorder Now</span>
          <i class=""></i>
        </a>
      {{ product_price_meta }}
      </div>
      {% endif %}
      
    </div>
   
  </nav>
<div class="product-page-view">
  <div id="shop-with-impact-dropdown">
    <div class="dropdown" style='background-image: url("https://cdn.shopify.com/s/files/1/0666/9741/files/Impact_Dropdown_BG.jpg?17717286138029674813");'>
      <div class="wrapper wrapper--large">
        <div class="grid__item" style="text-align: right;">
          <span class="icomoon icon-close-circle" data-toggle-shop-with-impact></span>
        </div>
        <div class="grid__item">
          <h2>A Purchase With Impact</h2>
          <p style="padding-right:130px" class="light" mb20 pr40>
           A portion of every sale from the BioLite shop gets re-invested
into our work in bringing clean cooking and energy to
thousands of families across India and sub-Saharan Africa.

<br><br>

We’re creating a new approach to energy access; one that empowers
people to power themselves. And it all starts with you
empowering us.
          </p>

          <iframe width="475" height="267" style="border: 4px solid #fff; margin-top:30px;" src="https://www.youtube.com/embed/mV1MRlhLnWQ" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
  <!-- PRODUCT OVERVIEW -->
  <section id="product-overview" class="single-product-features single-product-features--tall" style="background-image:url('large-camsptove-with-phone-and-twigs.jpg');">
   <div class="wrapper wrapper--full wrapper--max_height">
     <!-- THUMBNAILS AND IMAGES -->
     <div class="grid__item large--five-eighths medium--one-whole table" id="product-thumbnails">
 
      {% if colors.size > 0 %}
        {% include 'color-product-carousel' %}
        {% include "color-mini-slider" %}
      {% else %}
        {% include 'product-carousel' %}
        {% include "mini-slider" %}
      {% endif %}
       
        {% if product.metafields.hero.video %}
      <a href="#" class="mobile-video mobile-show" data-control-modal="#hero-video--{{ product.handle | handleize }}" title="{{ product_title_shortened }}">
        <div class="text-center">
          <i class="fa fa-r fa-play btn-circle-tab"></i>
          <strong>Watch:</strong>
          <p class="light">{{ product_title_shortened }}</p>
        </div>
      </a>
      {% endif %}
    
     </div>
     <!-- Content -->
     <div class="grid__item large--three-eighths medium--one-whole table" id="product-content">
         <div class="hide-on-mobile">
           <h1>{{ product_title_shortened }}</h1>
           <h2>{{ product.metafields.desc.short  }}</h2>
           
        
       
     
           <p class="light">
                  {{ product.content }}
       </p>
           

         </div>
       
       
      {% if product.tags contains 'bwf-sale' %}
       <h6 class="alt mb0 mt30 mobile-text-center product-alert-notice"><span class="product-alert-notice-highlight">TODAY ONLY: Use Code 'TRAILBUDS' for 15% Off</span></h6>
       
       {% elsif product.tags contains 'bundle-save' %}
           <h6 class="primary alt mb0 mt30 mobile-text-center product-alert-notice">*Save When You Buy These Items As A Bundle</h6>
         {% else %}
         {% endif %}
       
       
     {% if product.metafields.soldout.notice %}
       <div class="shipping-notice">
<span class="icomoon icon-note-01 soldout-icon"></span>
    <span class="soldout-notice-message" >
      {{ product.metafields.soldout.notice }}</span> </div> 
       
       {% endif %}

       
       <div class="price-qty-container">
       
     {% if default_variant.compare_at_price == default_variant.price %}

         <div class="price-container">
              <select name="id" id="productSelect" class="product-single__variants">
               {{ product_price_options }}
              </select>
              <span id="ProductPrice" itemprop="price" class="h4">
                {{ default_variant.price | money }}
              </span>
            </div>
       {% else %} 
          <div class="price-container">
              <select name="id" id="productSelect" class="product-single__variants">
               {{ product_price_options }}
              </select>
              <span id="ProductPrice" itemprop="price" class="h4">
                {{ default_variant.price | money }}
                  <div class="compare-at">
                    <span class="product-price-compare-strike">{{ default_variant.compare_at_price | money_with_currency }}  </span>
                  </div>
              </span>
            </div>
      {% endif %}

       
        <div id="qty-select">
           <div class="qty-text semibold" style="font-family:din-next-pro;color:#5D5D5D;">Quantity</div
             ><div class="qty-controls">
             <span tabIndex="0" href="#" class="icomoon icon-quantity-minus"></span>
             <span class="qty-text">1</span>
             <span tabIndex="0" href="#" class="icomoon icon-quantity-plus"></span>
           </div>
           <input type="hidden" id="product-qty" name="name" value="1">
         </div>
       </div>
       
      
        {% if colors.size > 0 %}
         <div id="color-select">
           <div class="select-body light">
              {{ colors[0] }}
           </div>
           <ul class="select-menu" data-control-nav data-control-targets="#product-color-images-container ,#product-color-thumbnails-container, #product-carousels">
             {% for color in colors %}
             <li data-color="{{ color }}">
               <span tabindex="0" title={{ color }} class="color-circle color-{{color}}"></span>
               <span>{{ color | capitalize }}</span>
             </li>
             {% endfor %}
           </ul>
           <select id="color-select-hidden">
           {% for color in colors %}
              <option value="{{ color }}" {% if forLoop.first == true %} selected {% endif %}>{{ color }}</option>
           {% endfor %}
           </select>
         </div>
         {% endif %}
        
   
       
       

       
       <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddSingleToCartForm">
           <input type="hidden" name="id" value="{{ bold_selected_or_first_available_variant.id }}" />

           <div class="add-to-cart-container">
             <button type="submit" name="add" id="AddToCart" class="btn-large btn-large-secondary mt10 cart-item--add" data-product-variant="{{ default_variant.id }}">
               <span id="AddToCartText">Preorder Now</span>
             </button>
           </div>

            <div class="clearfix"></div>
               
       </form>

{%- unless bundle_loaded == 'true' -%}
{%- include 'shappify-bdl-load-bundle' -%}
{%- assign bundle_loaded = 'true' -%}
{%- endunless -%} 
       
       <div class="grid__item large preorder-message">

        <div class="shipping-notice">
      <span class="preorder-notice-message" >Clicking above acknowledges your card will be charged immediately for this 
        product that ships <span style="text-decoration:underline"><strong> {{ product.metafields.preorder.date }}.</strong></span><br> <br> 
        NOTE: Discounts <span style="text-decoration:underline"><strong>can't be applied</strong></span> to this preorder</span> 
       </div>
       <br>
           <!-- <div class="grid__item large">
              <span class="preorder-message-emphasis">Customers Outside of US/Canada</span>  <span class="preorder-notice-message">This product will be available for preorder in <span style="text-decoration:underline"><strong>your local currency</strong></span> in early 2018. Note that local MSRP will vary based on geography. Signup to be notified when available.</span> 
              
       <div style="margin:0 auto;" class="pt10">
        <form id="email_signup" style="margin:0 auto;" class="klaviyo_condensed_styling klaviyo_condensed_float klaviyo_condensed_embed_PtwdYE" action="//manage.kmail-lists.com/subscriptions/subscribe" data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe" method="GET" target="_blank" novalidate="novalidate">
  <input type="hidden" name="g" value="PtwdYE">
  <div class="klaviyo_field_group">
    <label for="k_id_email">Newsletter Sign Up</label>
    <input type="email" value="" name="email" id="k_id_email" placeholder="Enter Email" />
  </div>
  <div class="klaviyo_messages">
    <div class="success_message"></div>
    <div class="error_message" style="display:none;"></div>
    </div>
  <div class="klaviyo_form_actions">
    <button type="submit" class="klaviyo_submit_button">Submit</button>
  </div>
</form>
        </div>
<style type="text/css">
.klaviyo_styling.klaviyo_condensed_embed_PtwdYE,
.klaviyo_condensed_styling.klaviyo_condensed_embed_PtwdYE {
  font-family: opensans, Arial;
}.klaviyo_styling.klaviyo_condensed_embed_PtwdYE label,
.klaviyo_condensed_styling.klaviyo_condensed_embed_PtwdYE label {
  color:#222;
}.klaviyo_styling.klaviyo_condensed_embed_PtwdYE input[type=text],
.klaviyo_styling.klaviyo_condensed_embed_PtwdYE input[type=email],
.klaviyo_condensed_styling.klaviyo_condensed_embed_PtwdYE input[type=text],
.klaviyo_condensed_styling.klaviyo_condensed_embed_PtwdYE input[type=email] {
  border-radius: 2px;
  height:50px;
  font-family: opensans, Arial;

}
.klaviyo_condensed_styling .klaviyo_field_group {
    width: 275px;
    margin: 0 5px 0 0;
}
  .klaviyo_condensed_styling, .klaviyo_styling {
    max-width: 400px;
}
  
  .klaviyo_condensed_styling .klaviyo_submit_button, .klaviyo_styling .klaviyo_submit_button {
     font-family: din-next-pro, Arial;
    font-size:16px;

}
  
  .klaviyo_condensed_styling .klaviyo_messages .error_message, .klaviyo_condensed_styling .klaviyo_messages .success_message, .klaviyo_styling .klaviyo_messages .error_message, .klaviyo_styling .klaviyo_messages .success_message {
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 12px;
    padding-top: 20px;
    font-family: din-next-pro;
    color:#585858;
}
  
  .klaviyo_styling.klaviyo_condensed_embed_PtwdYE .klaviyo_submit_button,
.klaviyo_condensed_styling.klaviyo_condensed_embed_PtwdYE .klaviyo_submit_button {
  background-color:#01b1af;
  border-radius: 2px;
  height:50px;
}.klaviyo_styling.klaviyo_condensed_embed_PtwdYE .klaviyo_submit_button:hover,
.klaviyo_condensed_styling.klaviyo_condensed_embed_PtwdYE .klaviyo_submit_button:hover {
  background-color:#01b1af;
}
</style>
<script type="text/javascript" src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js"></script>
<script type="text/javascript">
  KlaviyoSubscribe.attachToForms('#email_signup', {
    hide_form_on_success: true,
    success_message: "Your email has been added."
  });
</script>

      </div>-->
       </div>
       
     
       
     {% if product.metafields.recommendations.productHandles %}

       <div class="upsell-section">
     <span class="upsell-title">{{ product.metafields.upsell.title }}</span>

     <div id="product-accessories" class="related-products">
       {% comment %} Related products will be appended here {% endcomment %}
     </div>
  </div>
      {% else %}

       {% endif %}

       
     </div>
   </div>
  </section>
  <div class="mobile-wrapper closed">
   <h2 class="mobile-title"> Description </h2>
   <section id="product-content" class="mobile-wrapper-content">
     <div class="mobile-description">
       <h2>{{ product.metafields.desc.short  }}</h2>
        
           <p class="light">
                  {{ product.content }}
       </p>
           
       
     </div>

   </section>
  </div>

<a name="video-tab"></a>
  <div id="product-features-and-specs">
    <ul class="tabs">
      {% for tab_item in features_and_specs %}
      {% assign tab_string = tab_item | downcase | replace: ' ','_' %}
      <li class="light {% if forloop.first == true %}active{% endif %}" data-tab="{{ tab_string }}" aria-controls="{{ tab_string }}" aria-selected="false" tabIndex="0" role="tab"> {{ tab_item }} </li>
      {% endfor %}
    </ul>
    <div class="tabs-content">
      {% for section_title in features_and_specs %}

        {% assign section_string = section_title | downcase | replace: ' ','_' %}
        {% assign include_string = product.handle | remove: 'biolite-' | prepend: "_" | prepend: section_string %}
        <div class="{% if forloop.first == true %}active{% endif %} content-section" id="{{ section_string }}" role="tabpanel" tabIndex="0">
          {% include include_string %}
        </div>
      {% endfor %}
    </div>
  </div>

  {% if product.metafields.features_slide01.image %}
  <div class="mobile-wrapper closed">
   <h2 class="mobile-title"> Images </h2>
   <section id="product-features" class="single-product-features single-product-features--photo_bg mobile-wrapper-content">
     <div class="wrapper wrapper--max_height single-product-features__inner">
       <div class="grid__item large--one-half pr30">

         <ul class="nav-circles nav-circles--transparent" data-control-nav data-control-targets="#single-product-slides, #single-product-slide-content">
           {% if product.metafields.features_slide01.icon %}
           <li>
             <div class="circle icomoon" onClick="_gaq.push(['_trackEvent', 'Click', 'Icon 1', '{{ product.title }}']);">
               <i class="{{ product.metafields.features_slide01.icon }}"></i>
             </div>
           </li>
           {% endif %} {% if product.metafields.features_slide02.icon %}
           <li>
             <div class="circle icomoon" onClick="_gaq.push(['_trackEvent', 'Click', 'Icon 2', '{{ product.title }}']);">
               <i class="{{ product.metafields.features_slide02.icon }}"></i>
             </div>
           </li>
           {% endif %} {% if product.metafields.features_slide03.icon %}
           <li>
             <div class="circle icomoon" onClick="_gaq.push(['_trackEvent', 'Click', 'Icon 3', '{{ product.title }}']);">
               <i class="{{ product.metafields.features_slide03.icon }}"></i>
             </div>
           </li>
           {% endif %} {% if product.metafields.features_slide04.icon %}
           <li>
             <div class="circle icomoon" onClick="_gaq.push(['_trackEvent', 'Click', 'Icon 4', '{{ product.title }}']);">
               <i class="{{ product.metafields.features_slide04.icon }}"></i>
             </div>
           </li>
           {% endif %}
         </ul>

         <ul id="single-product-slide-content" class="pt20" data-control-target>
           {% if product.metafields.features_slide01.title %}
           <li>
             <h3 class="light">{{ product.metafields.features_slide01.title }}</h3>
             <h6>{{ product.metafields.features_slide01.desc }}</h6>
           </li>
           {% endif %} {% if product.metafields.features_slide02.title %}
           <li>
             <h3 class="light">{{ product.metafields.features_slide02.title }}</h3>
             <h6>{{ product.metafields.features_slide02.desc }}</h6>
           </li>
           {% endif %} {% if product.metafields.features_slide03.title %}
           <li>
             <h3 class="light">{{ product.metafields.features_slide03.title }}</h3>
             <h6>{{ product.metafields.features_slide03.desc }}</h6>
           </li>
           {% endif %} {% if product.metafields.features_slide04.title %}
           <li>
             <h3 class="light">{{ product.metafields.features_slide04.title }}</h3>
             <h6>{{ product.metafields.features_slide04.desc }}</h6>
           </li>
           {% endif %}
         </ul>
       </div>
     </div>

     <div class="single-product-features__overlay"></div>

     <ul id="single-product-slides" class="single-product-slides" data-control-target>
       {% if product.metafields.features_slide01.image %}
       <li class="features_slide01"></li>
       {% endif %} {% if product.metafields.features_slide02.image %}
       <li class="features_slide02"></li>
       {% endif %} {% if product.metafields.features_slide03.image %}
       <li class="features_slide03"></li>
       {% endif %} {% if product.metafields.features_slide04.image %}
       <li class="features_slide04"></li>
       {% endif %}

     </ul>
     {% include 'features_background_optimization'%}
   </section>
  </div>
   {% endif %}


  <!-- </section> -->
  <!-- #content -->

  <!-- Scripts to hide and show all product reviews -->
  <!-- @todo: 'show' btn if there aren't any reviews -->
  <script>
   $(document).ready(function(){
     jQuery('#product-rating').append(' \
     <a href="#" class="spr-summary-actions-allreviews gray-light" onclick="">See all Reviews</a>\
     <a href="#" class="spr-summary-actions-hidereviews gray-light" onclick="">Hide Reviews</a>\
     <a href="" class="spr-summary-actions-newreview gray-light" onclick="SPR.toggleForm({{product.id}});return false" style="float: left;">Write a review</a> \
     ');

     jQuery('.spr-summary-actions-hidereviews').hide();

     /*
      #HACK: don't know why is this change overwritting so I am adding a setTimeout to close this issue. <Rolando Perez.>
     */

     /*setTimeout(function(){
       jQuery('.spr-reviews').attr("style","display:block;").addClass("show");
     }, 7000);
     */

     jQuery(document).delegate('.spr-summary-actions-allreviews', 'click', function (event) {
     event.preventDefault();
     jQuery('.spr-reviews').removeClass('hide').addClass('show');
     jQuery('.spr-summary-actions-allreviews').hide();
     jQuery('.spr-summary-actions-newreview').show();
     jQuery('.spr-load-more').show();
     jQuery('.spr-form').removeClass('show').addClass('hide');
     });

     jQuery(document).delegate('#product-reviews .review-scrollto', 'click', function (event) {
     event.preventDefault();
     jQuery('.spr-summary-actions-allreviews').trigger( 'click' );
     });

     jQuery(document).delegate('.spr-summary-actions-newreview', 'click', function (event) {
     jQuery('.spr-summary-actions-newreview').hide();
     jQuery('.spr-summary-actions-allreviews').show();
     jQuery('.spr-load-more').hide();
     jQuery('.spr-reviews').removeClass('show').addClass('hide');
     jQuery('.spr-form').removeClass('hide').addClass('show');
     });

     var paginateCallback = function(){
       SPRCallbacks = {};

       var nextPage = "",
           lastPage = "",
           pastComments = [],
           nextAnchorTag = [],
           commentsContainer = [],
           html = "";

       return function(e){
         nextPage = $(".spr-pagination-next > a").attr("data-page");
         lastPage = $(".spr-pagination-page > a").last().attr("data-page");
         pastComments = $(".spr-reviews");
         nextAnchorTag = $(".spr-pagination-next > a");
         commentsContainer = $("#shopify-product-reviews .spr-reviews");

         var comments = pastComments.clone();
         comments.find(".spr-pagination").remove();
         html = comments.html();

         if(!SPRCallbacks.onReviewsLoad){
           // pluging in into Shopify Product Reviews Object SPR;
           SPRCallbacks.onReviewsLoad = function(e){
             if(nextPage == lastPage){
               $(".spr-load-more").hide();
             }

             if(pastComments.length > 0){
               commentsContainer.prepend(html);
             }

           };

           SPR.registerCallbacks();
         }

         nextAnchorTag.click();

         return false;

       }
     }

     $(".spr-load-more").click(paginateCallback());


     /* AM - clone only reviews stars and numbers to the top */
     jQuery('#product-rating .spr-summary-starrating').appendTo(".star-container-top");

     //pull the intial text
     var reviewtext = jQuery('#product-rating .spr-summary-caption').text();

     console.log('reviewtext:',reviewtext);
     //strip the "based on X review"
     var numberreviews = reviewtext.replace(/on|Based|reviews|review/g,'');
     numberreviews = numberreviews.replace(/\s+/g, '');
     numberreviews = numberreviews.replace('(', '');
     numberreviews = numberreviews.replace(')', '');
     jQuery(".star-container-top").append('<span class="number-reviews-top">('+numberreviews+')</span>');

     //Trigger opening of see all reviews, and write a review when you click the top
     $('.top-see-all').click(function() {
     jQuery('.spr-summary-actions-allreviews').trigger('click');
     });

     $('.top-write-a-review').click(function() {
     jQuery('.spr-summary-actions-newreview').trigger('click');
     SPR.toggleForm({{product.id}});
     });

     $(".mobile-wrapper").click(function(e){
       var isOpened = $(this).hasClass("open"),
           target = $(e.target);

       if(isOpened && (target.hasClass("mobile-title") || target.hasClass("mobile-wrapper"))){
         $(this).removeClass("open").addClass("closed");
       }else{
         $(this).removeClass("closed").addClass("open");
       }
     });

   });
  </script>

  <!-- HERO VIDEO MODAL -->
  {% if product.metafields.hero.video %}
  <div id="hero-video--{{ product.handle | handlesize }}" class="modal">
   <header class="modal__header">
     {% comment %}
     <div class="modal__title">{% if product.metafields.hero.video_title %} {{ product.metafields.hero.video_title }} {% else %} {{ product.title }} {% endif %}</div>{% endcomment %}
     <div class="modal--close">
       <i class="fa fa-circle-border fa-circle-border--medium fa-times"></i>
     </div>
   </header>
   <div class="modal__content modal__content--video">
     <div data-control-youtube-video="{{ product.metafields.hero.video }}"></div>
   </div>
  </div>
  {% endif %}

  {% comment %}
  Add the product data to our Javascript Objects for various magics
  {% endcomment %}
  {% if product %}
  <script type="text/javascript">
  jQuery(function() {
  APP.data.current_product = {%- include 'bold-product', output: 'json' -%}
  APP.data.current_product_variants = {{ product.variants | json }}
  {% if product.metafields.bundle.productHandle %}
  meta = {
  'bundle' : {
  'productHandle' : {{ product.metafields.bundle.productHandle | json }},
  'desc' : {{ product.metafields.bundle.desc | json }},
  }
  }
  APP.data.current_product_metafields = meta
  APP.GetBundledProduct.attach(meta.bundle)
  {% endif %}
  APP.getRecommendedProducts.attach({{ product.metafields.recommendations.productHandles | json }})
  });
  </script>

  {% endif %}
</div>