{% comment %}
If you are not on a collection page, do define which collection to use in the order form.
Use the following assign statement, replace 'your-collection-handle-here' with your collection handle.
{% assign collection = collection.handle %}
Use the assign statement outside of this comment block at the top of your template.
{% endcomment %}

{% paginate collection.products by 100 %}


<div class="wrapper--xxlarge pt50 pb30"> 
  

 
<form action="/cart" method="post">
  
  
 <div class="grid__item large--one-whole push--small--one-fifth small--three-fifths text-center">
      <h3 class="text-center mb0 bold">{% if template contains 'page' %}{{ page.title }}{% else %}{{ collection.title }}{% endif %}</h3>
  <!-- <h5 class="light text-center mt0 mb20">{{ collection.metafields.subheadline.text }}<br> <span style="font-weight:700;color:#008fa1;">Bundle Deal</span> Save 10% when you buy these products together. </h5>-->
      <input type="submit" class="btn-large btn-large-primary text-center mb40" value="Add Collection To Cart" />
  </div>




  {% if collection.products_count > 0 %}

    <table>
      <tbody>
      {% for product in collection.products %}
        {% if product.available %}
{% for variant in product.variants limit:1 %}
	            {% if variant.available %}
              
  <div class="product-grid-item grid__item large--one-half bundle-grid medium--one-half text-center">
    <div class="bundle-builder-padder">
            
            <a href="{{ variant.url | collection }}">
                    <img src="{{ variant.image | default: product.featured_image | img_url: 'large' }}" alt="{{ variant.title | escape }}" />
                  </a>
            <br>
             <a class="product-grid-item__title" href="{{ variant.url | collection }}">
                   {{ product.title }}
                  </a>
            <br>
      <span id="ProductPrice" itemprop="price" class="product-grid-item__price h5">{% include 'currency-indicator' %}{{ variant.price | money }}</span>
<br>
      <div class="hide">   
      <input name="updates[{{ variant.id }}]" onfocus="this.select()" class="quantity field quantity-container-bundle" min="1" {% unless variant.inventory_management == blank or variant.inventory_policy == 'continue' %} max="{{ variant.inventory_quantity }}" {% endunless %} type="text" value="1" tabindex="1" />
</div>
        </div>
            </div>
          
        
        
        
        
        
        
      
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}
      </tbody>
    </table>
  <div class="clearfix"></div>
 <div class="grid__item large--one-whole text-center">
      <input type="submit" class="btn-large btn-large-primary text-center mb40 mt40" value="Add Collection To Cart" />
    </div>
  <div class="clearfix"></div>

  {% else %}
    <p>There are no products in this view.</p>
  {% endif %}

</form>
  </div>

{% endpaginate %}

{% if collection.products_count > 0 %}
<script>
jQuery(function($) {
  $('table .quantity:first').focus();
  $('[max]').change(function() {
    var max = parseInt($(this).attr('max'), 10);
    var value = parseInt($(this).val(), 10) || 0;
    if (value > max) { 
      alert('We only have ' + max + ' of this item in stock');
      $(this).val(max); 
    }    
  });
});
</script>
{% endif %}