 <section class="hero hero--tiny">
    <div class="hero__viewport">
      <div class="hero__inner hero__inner--light">
        <div class="hero__body wrapper table">
          <div class="table-cell text-center">

            {% if page.metafields.hero.subtitle_top %}
              <h3 class="white light baseline"><em>{{ page.metafields.hero.subtitle_top }}</em></h3>
            {% endif %}

            {% if page.metafields.hero.title_alt %}
              <h1 class="light baseline">{{ page.metafields.hero.title_alt }}</h1>
            {% else %}
              <h1 class="light baseline">{{ page.title }}</h1>
            {% endif %}

            {% if page.metafields.hero.subtitle_bottom %}
              <h3 class="white light baseline"><em>{{ page.metafields.hero.subtitle_bottom }}</em></h3>
            {% endif %}

            {% if page.metafields.hero.cta or page.metafields.hero.video %}
              <footer class="mt20">
                {% if page.metafields.hero.video %}
                  <a href="#" class="btn btn-circle-tab btn-circle-tab--transparent" data-control-modal="#hero-video--{{ page.handle }}">
                    <i class="fa fa-r fa-play"></i>
                  </a>
                {% endif %}

                {% if page.metafields.hero.cta %}
                  {{ page.metafields.hero.cta }}
                {% endif %}
              </footer>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="hero__image" style="background-image: url('{{ page.metafields.hero.image }}');"></div>
    </div>
  </section>


<section class="single-product-features teamPage section-xlarge pb0">
  <div class="wrapper wrapper--large">
    <div class="grid__item large--two-thirds pr80">
      <h4 class="primary mt0">Outdoor Origins</h4>

     <p class="light">Our founders, Alec and Jonathan, met at Smart Design in New York City where they quickly bonded over their interest in sustainable design. Alec, frustrated that almost all efficient camping stoves required fossil fuels, had the idea of a wood-burning stove able to utilize its own thermal energy to improve combustion. Jonathan, an avid camper, quickly brought his engineering background to the table and the two began the design process. Countless nights, weekends, and prototypes later, the BioLite CampStove was born: a portable biomass stove that leveraged thermoelectrics to create a smokeless fire all while charging personal devices. </p>
     
           <img class="pt20 " src="https://cdn.shopify.com/s/files/1/0666/9741/files/Alec-Jonathan-OurStory.jpg?13404848173848760022" alt="Co-Founders Jonathan and Alec" title="Co-Founders Jonathan and Alec">
           <p class="light tiny pt5 pb20"><em>Co-Founders Jonathan and Alec</em></p>
           
                 <h4 class="primary">A Mission Ignited</h4>
                 
                 <p class="light">In 2009 Jonathan and Alec took their working prototype to a combustion conference where they discovered their technology could have an impact: half the planet lives in energy poverty, lacking safe and reliable ways to cook, charge, and light their lives; three billion people cook over smoky open fires every day, leading to 4 million premature deaths annually. It was with these shocking numbers that Jonathan and Alec decided to pursue development of <strong>The BioLite HomeStove</strong>, a large format biomass cookstove that cuts fuel consumption in half and reduces toxic emissions by ninety percent - and to bring this technology to life, they needed a business to make it happen. </p> 
                 
               <iframe width="583" height="328" src="https://www.youtube.com/embed/mV1MRlhLnWQ?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen="" class="mt20" style="border: 1px solid #f3f3f3; margin: 0 auto;"></iframe>
<p class="light tiny pt5 pb20"><em>WATCH: Our Mission</em></p>

<p class="light">Today BioLite operates using a unique business model called <strong>Parallel Innovation</strong>: our team incubates core technologies and then turns them into products unique to our outdoor and emerging markets. Sales from our outdoor channel get reinvested into our work in solving long-term, high-impact problems around the world. Through the support of our customers and community, we are given the runway to dedicate significant time and resources to fulfill our mission of bringing <strong>energy everywhere</strong>.
</p>

  <h4 class="primary mt40">The Road Ahead</h4>
  
<p class="light">  Fast forward to today and our team has grown from two guys to over 80 BioLiters working across the US, Uganda, Kenya and India. We have expanded our energy ecosystem from one stove to over 20 products across cooking, charging, and lighting, and continue to design solutions that are revolutionizing the way people worldwide experience energy on a personal scale.</p>

<img class="pt20 " src="https://cdn.shopify.com/s/files/1/0666/9741/files/homestoves_intheField.jpg?16809545421335108716" alt="Distributing HomeStove in Bungoma, Kenya" title="Distributing HomeStove in Bungoma, Kenya">
 <p class="light tiny pt5 pb20"><em>Distributing HomeStove in Bungoma, Kenya</em></p>


      <p class="light"> It takes a lot of work, and we want you along for the ride – check out our special series <a href="/pages/mission#road-to-impact" style="color:#00b2b0" title="The Road To Impact"><strong>The Road To Impact,</strong></a> and get a behind-the-scenes look at our offices and what it really takes to bring energy everywhere.</p>





    </div>
    <div class="grid__item large--one-third pl10" style="border-left:1px dashed #a8a8a8;">
    
      <img class="pl10" src="https://cdn.shopify.com/s/files/1/0666/9741/files/timeline_2006.jpg?6568562216806825764" height="" alt="2006-2008" title="2006-2008">
      
      <span class="timeline-bullet primary">-</span><h5 class="alt primary mt0 mb0 timeline-title" style="padding-left:12px">2006</h5>
<p class="light mb30 timeline-text pl10">Alec and Jonathan begin weekend project of “making a wood camping stove,” and CampStove proof of concept is born.</p>


      <img class="pl10" src="https://cdn.shopify.com/s/files/1/0666/9741/files/timeline_2009.jpg?2420365368628317194" height="" alt="2009" title="2009">
     <span class="timeline-bullet primary">-</span> <h5 class="alt primary mt0 mb0 timeline-title" style="padding-left:12px">2009</h5>
<p class="light mb30 timeline-text pl10">Jonathan and Alec learn about clean cookstove movement and HomeStove work begins; BioLite bifurcates the business and develops Parallel Innovation model.</p>


      <img class="pl10" src="https://cdn.shopify.com/s/files/1/0666/9741/files/timeline_2012.jpg?2420365368628317194" height="" alt="2012" title="2012">
     <span class="timeline-bullet primary">-</span> <h5 class="alt primary mt0 mb0 timeline-title" style="padding-left:12px">2012</h5>
<p class="light mb30 timeline-text pl10">BioLite hits the market and CampStoves ship to customers around the world.</p>

      <!--<img class="pl10" src="https://cdn.shopify.com/s/files/1/0666/9741/files/timeline_2013.jpg?2420365368628317194" height="" alt="2013">
      <span class="timeline-bullet primary">-</span><h5 class="alt primary mt0 mb0 timeline-title" style="padding-left:12px">2013</h5>
<p class="light mb30 timeline-text pl10">BioLite launches in retail with leading outdoor partner REI.</p>-->

      <img class="pl10" src="https://cdn.shopify.com/s/files/1/0666/9741/files/timeline_2013_2.jpg?2420365368628317194" height="" alt="2013" title="2013">
     <span class="timeline-bullet primary">-</span> <h5 class="alt primary mt0 mb0 timeline-title" style="padding-left:12px">2013</h5>
<p class="light mb30 timeline-text pl10">Pilot programs begin for the launch of the BioLite HomeStove across India and Uganda.</p>

      <img class="pl10" src="https://cdn.shopify.com/s/files/1/0666/9741/files/timeline_2014.jpg?2420365368628317194" height="" alt="2014" title="2014">
    <span class="timeline-bullet primary">-</span>  <h5 class="alt primary mt0 mb0 timeline-title" style="padding-left:12px">2014</h5>
<p class="light mb30 timeline-text pl10">BioLite raises over $1MM on Kickstarter with the BaseCamp Stove, BioLite’s outdoor recreational grill, inspired by the HomeStove.</p>

      <img class="pl10" src="https://cdn.shopify.com/s/files/1/0666/9741/files/timeline_2015.jpg?2420365368628317194" height="" alt="2015" title="2015">
    <span class="timeline-bullet primary">-</span>  <h5 class="alt primary mt0 mb0 timeline-title" style="padding-left:12px">2015</h5>
<p class="light mb30 timeline-text pl10"> BioLite expands beyond stoves into lighting with the launch of the NanoGrid system featuring breakthrough edge-lighting technology.</p>

      <img class="pl10" src="https://cdn.shopify.com/s/files/1/0666/9741/files/timeline_2015_2.jpg?2420365368628317194" height="" alt="2015" title="2015">
     <span class="timeline-bullet primary">-</span> <h5 class="alt primary mt0 mb0 timeline-title" style="padding-left:12px">2015</h5>
<p class="light mb30 timeline-text pl10">BioLite’s emission-reducing HomeStove is issued carbon credits for its performance; BioLite uses the first batch of credits to erase its entire carbon history and commit to carbon neutrality for the future of the company.</p>

      <img class="pl10" src="https://cdn.shopify.com/s/files/1/0666/9741/files/timeline_2016.jpg?2420365368628317194" height="" alt="2006-2008" title="2006-2008">
     <span class="timeline-bullet primary">-</span> <h5 class="alt primary mt0 mb0 timeline-title" style="padding-left:12px">2016</h5>
<p class="light mb30 timeline-text pl10">BioLite extends its Energy Ecosystem offering with the launch of the SolarPanel 5 Series and expansion of The NanoGrid. Full-time HomeStove operations begin in Kenya. </p>

    
   

</div>
  </div>
</section>


<section id="staff-grid" class="grid-wrap">
<div class="blog-full">
	
  <div class="staff-grid">
		<div class="wrapper">
			<h2 class="light mb30 text-center primary">The Team</h2>
		</div>
  
             
    <div class="staff-grid-map-item grid__item large--one-eighth">
		<div class="staff-grid-map-item__photo" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/9741/files/US_team.png?62248680419754637');">
			<div class="staff-grid-map-item table">
			<div class="staff-grid-map-item__content table-cell">
	  	        <ul>
                  <li><h5 class="mt0 mb0 alt white">U.S.</h5></li>
      	   </ul>
	  	      </div>
	  	    </div>
	  	  </div>
	  	 </div>
    
    
      	{% for article in blogs['team'].articles %}
			{% unless article.tags contains 'interns' %}

	  	 {% if article.tags contains 'unitedstates' %}
            
    <div class="staff-grid-item grid__item large--one-eighth">
	  	  <div class="staff-grid-item__photo" style="background-image:url('{{ article.metafields.team.photo }}');">
	  	    <div class="staff-grid-item__overlay table">
	  	      <div class="staff-grid-item__content table-cell">
	  	        <ul>
  			<h5 class="alt baseline mb10">{{ article.title }}</h5>
      	   
            </ul>
	  	      </div>
	  	    </div>
	  	  </div>
	  	 
	  	</div>
    {% endif %}

			{% endunless %}
		{% endfor %}
    
    
             
    <div class="staff-grid-map-item grid__item large--one-eighth">

	  	  <div class="staff-grid-map-item__photo__red" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/9741/files/india_team.png?62248680419754637');">

	  	    <div class="staff-grid-map-item table">

	  	      <div class="staff-grid-map-item__content table-cell">
	  	        <ul>
                  <li><h5 class="mt0 mb0 alt white">India</h5></li>
      	   
            </ul>
	  	      </div>
	  	    </div>
	  	  </div>
	  	 
	  	</div>
    
      	{% for article in blogs['team'].articles %}
			{% unless article.tags contains 'interns' %}

	  	 {% if article.tags contains 'india' %}
            
    <div class="staff-grid-item grid__item large--one-eighth">
	  	  <div class="staff-grid-item__photo" style="background-image:url('{{ article.metafields.team.photo }}');">
	  	    <div class="staff-grid-item__overlay table">
	  	      <div class="staff-grid-item__content table-cell">
	  	        <ul>
  			<h5 class="alt baseline mb10">{{ article.title }}</h5>
      	   
            </ul>
	  	      </div>
	  	    </div>
	  	  </div>
	  	 
	  	</div>
    {% endif %}

			{% endunless %}
		{% endfor %}
    
    
          <div class="staff-grid-map-item grid__item large--one-eighth">

	  	  <div class="staff-grid-map-item__photo" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/9741/files/kenya.png?16027994724026844649');">

	  	    <div class="staff-grid-map-item table">

	  	      <div class="staff-grid-map-item__content table-cell">
	  	        <ul>
                  <li><h5 class="mt0 mb0 alt white">Kenya</h5></li>
      	   
            </ul>
	  	      </div>
	  	    </div>
	  	  </div>
	  	 
	  	</div>
    
    
      	{% for article in blogs['team'].articles %}
			{% unless article.tags contains 'interns' %}

	  	 {% if article.tags contains 'kenya' %}
            
    <div class="staff-grid-item grid__item large--one-eighth">
	  	  <div class="staff-grid-item__photo" style="background-image:url('{{ article.metafields.team.photo }}');">
	  	    <div class="staff-grid-item__overlay table">
	  	      <div class="staff-grid-item__content table-cell">
	  	        <ul>
  			<h5 class="alt baseline mb10">{{ article.title }}</h5>
      	   
            </ul>
	  	      </div>
	  	    </div>
	  	  </div>
	  	 
	  	</div>
    {% endif %}

			{% endunless %}
		{% endfor %}
    
    
    
    
          <div class="staff-grid-map-item grid__item large--one-eighth">
			<div class="staff-grid-map-item__photo" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/9741/files/uganda_team.png?62248680419754637');">
				 <div class="staff-grid-map-item table">
					<div class="staff-grid-map-item__content table-cell">
	  	        <ul>
                  <li><h5 class="mt0 mb0 alt white text-center">Uganda</h5></li>
      	   		 </ul>
	  	      </div>
	  	    </div>
	  	  </div>
	  	 
	  	</div>
    
    
      	{% for article in blogs['team'].articles %}
			{% unless article.tags contains 'interns' %}

	  	 {% if article.tags contains 'uganda' %}
            
    <div class="staff-grid-item grid__item large--one-eighth">
	  	  <div class="staff-grid-item__photo" style="background-image:url('{{ article.metafields.team.photo }}');">
	  	    <div class="staff-grid-item__overlay table">
	  	      <div class="staff-grid-item__content table-cell">
	  	        <ul>
  			<h5 class="alt baseline mb10">{{ article.title }}</h5>
      	   
            </ul>
	  	      </div>
	  	    </div>
	  	  </div>
	  	 
	  	</div>
    {% endif %}

			{% endunless %}
		{% endfor %}

	  	 
	  	</div>
    
 

  </div>

 
</section>

