{% layout none %}
<!-- CSS ================================================== -->
<div>
  {{ 'font-awesome.min.css' | asset_url | stylesheet_tag }}
  {{ 'animate.min.css' | asset_url | stylesheet_tag }}
  {{ 'slick.css' | asset_url | stylesheet_tag }}
  {{ 'all.css' | asset_url | stylesheet_tag }}
  {{ 'biolite.scss.css' | asset_url | stylesheet_tag }}
  {{ 'new.min.css' | asset_url | stylesheet_tag }}
  {{ 'fixes.css' | asset_url | stylesheet_tag }}
  {{ '//s3.amazonaws.com/icomoon.io/53820/Biolite/style.css' | stylesheet_tag }}
</div>
