
<section class="hero hero--empty contact-hero">
  <div class="wrapper">
    <h1 class="text-center">Contact Us</h1>
  </div>
</section>
<div class="wrapper">
<div class="grid">

  <div class="grid__item large--one-half fieldset--half">
	<div class="contact-sidebar-group">
      <h4 class="alt">Popular FAQs</h4> 
    
    	<ul class="contact-faq">

          <li>
          <div class="">
<div class="list-toggle__title" data-control-sibling="" > <i class="icomoon icon-plus faq-icon"></i> <span class="toggle-main-title-faq">What is the status of my order?</span></div>

            <div class="" style="display: none;">

              <p><strong>Shipping:</strong> When your order is shipped from the warehouse, you will automatically receive an email confirmation with tracking info. Items typically ship 2 business days from order placement unless the item is backordered. In the event of a backorder, projected in-stock shipment dates are reflected on product pages (prior to purchase).
<br><br>
 <strong>Tracking Info:</strong> once you receive tracking info, your item is in the hands of the carrier and we strongly recommend contacting them directly for transit status. For orders shipped via USPS, please note USPS only guarantees scans upon arrival and therefore may not show updates in transit. Please allow up to 7 days for delivery before contacting BioLite regarding USPS orders. 
<br><br>
                <strong>Changes to order:</strong> If you have specific questions regarding your purchase such as credit card information, personal info changes, etc, please fill out the contact form. </p>           </div>
          </div>
        </li>
            <li>
        <div class="">
<div class="list-toggle__title" data-control-sibling="" > <i class="icomoon icon-plus faq-icon"></i> <span class="toggle-main-title-faq">Where can I find the manuals &amp; videos?</span></div>

          <div class="" style="display: none;">
            <p>Manuals for all of our products are available on our <a href="https://www.bioliteenergy.com/pages/product-manuals"  style="color:#35a8a6;">instructions page</a>. 
              <br><br>
              For select products like the HeadLamp 330, FirePit, and CampStove, detailed instruction videos along with helpful timestamps can be found on our <a href="https://www.youtube.com/playlist?list=PLiesnnDt8JtVA6s06PHok6AeAJyKVSSXS" target="_blank" rel="noopener" style="color:#35a8a6;">YouTube Channel</a></p>
          </div>
        </div>
        </li>
            <li>
        <div class="">
          <div class="list-toggle__title" data-control-sibling="" > <i class="icomoon icon-plus faq-icon"></i> <span class="toggle-main-title-faq">How do I qualify for free shipping?</span></div>
          <div class="" style="display: none;">
            <p>Orders over $55+ may qualify for Free Standard Ground Shipping depending on the size and weight of items in your order. Please note that FirePit+ and FirePit Cooking Kit are subject to an oversize fee of $25. You can find this and other shipping info on our <a href="https://www.bioliteenergy.com/pages/return-shipping" style="color:#35a8a6;">Shipping Page.</a></p>
          </div>
        </div>
        </li>
          
        <li>
        <div class="">
         <div class="list-toggle__title" data-control-sibling="" > <i class="icomoon icon-plus faq-icon"></i> <span class="toggle-main-title-faq">Do you ship internationally?</span></div>
          <div class="" style="display: none;">

      <p> Yes, we ship to most countries. To place an order, please confirm your  region by selecting the appropriate storefront in the top right corner of the BioLite website: 
<br><br>
        For <strong>Canada</strong>, please select "Canada" 
<br><br>
        For <strong>Europe</strong>, please select "Europe"
        <br><br>
For <strong>United Kingdom</strong>, please select "United Kingdom" (All EU/UK orders ship duties/VAT paid)
        <br><br>
        For <strong>all other countries</strong>, please select "Rest of World" to find a retailer in your location.  </p>
          
          </div>
        </div>
        </li>
        <li>
        <div class="">
           <div class="list-toggle__title" data-control-sibling="" > <i class="icomoon icon-plus faq-icon"></i> <span class="toggle-main-title-faq">What is BioLite's warranty policy?</span></div>
          <div class="" style="display: none;">
            <p>BioLite offers a 1-year limited warranty. Please check out our <a href="https://www.bioliteenergy.com/pages/warranty" style="color:#35a8a6;">warranty page</a> for full details. We strongly recommend registering your products. This helps for faster response times with our Customer Service team when troubleshooting any issues or inquiries about your device.</p>
          </div>
        </div>
        </li>
      
        <li>
        <div class="">
          <div class="list-toggle__title" data-control-sibling="" > <i class="icomoon icon-plus faq-icon"></i> <span class="toggle-main-title-faq">What's your return policy?</span></div>
          <div class="" style="display: none;">
            <p>We want to ensure that you have a great experience with your BioLite products. Our support team is here to help you answer any questions and troubleshoot any issues.<br><br>1. Returns for refund are available only for customers that purchased directly from BioliteEnergy.com.<br><br>2. Customers can request a return within 30 days of the order being delivered.<br><br>3. We do not offer exchanges, only refunds on returns. Customers who wish to exchange may purchase their desired product as a separate order before or after we refund the original item return.<br><br>4. Products must be completely unused with the packaging, manuals and any accessories intact and included with the return shipment. Any used products or missing items will result in the return being declined. For damaged or defective products, please see our warranty policy.</p>
          </div>
        </div>
        </li>
          
             <li>
        <div class="">
          <div class="list-toggle__title" data-control-sibling="" > <i class="icomoon icon-plus faq-icon"></i> <span class="toggle-main-title-faq">Only one of my items arrived – where’s the rest?</span></div>
          <div class="" style="display: none;">
            <p>For orders with multiple items,  they may ship in separate packages and may arrive on different dates by a day or two. 
              If you have received a shipping confirmation email but have only received a portion of your order, 
              it is likely that it is referring to only a partial shipment. Please refer to your <strong>original shipment email</strong> for full tracking information; click the tracking link and scroll down to see associated shipments. 
</p>
          </div>
        </div>
        </li>
      
      
    	</ul>
       <a href="/pages/faq" class="btn btn-primary mt20" title="Shop All">
                  <span>See All FAQs</span>
                </a>
    </div>
    
    
  </div>
  
    <div class="grid__item large--one-half fieldset--half rte">
    
   <h4 class="alt">Get In Touch</h4> <p class="light"> Many answers to common questions can be found on our <a href="/pages/faq" style="text-decoration:none;font-weight:700;color:#008fa1;">FAQ page</a>. 
      <br><br>
      Can't find what you need? Please fill out our support form or <a href="mailto:support@bioliteenergy.com" target="_blank" style="text-decoration:none;font-weight:700;color:#008fa1;">email us</a> and a member of our Support Team will follow up.
           We do our best to reply in 2 business days, but when volume is high it could take longer. We appreciate your patience.<br>
       <a href="javascript:void(0);" id="showWidget" onclick="zE('webWidget', 'show'); zE('webWidget', 'toggle');" class="btn btn-primary mt20" title="Shop All">
                  <span>Fill Out Support Form</span>
                </a>
    </p>
  
  </div>
</div>
  <hr class="mt50">
 <div class="grid mt50">
  <div class="grid__item large--whole fieldset--half"> 
  
  <div class="contact-manuals">
        <h4 class="contact-sidebar-header">Download Product Manuals</h4> 
        <div class="">
          {% for product in collections.frontpage.products %}

            <div class="grid__item large--one-quarter">
              {% assign product_handle_trimmed = product.handle | remove: 'biolite-' %}
            {% assign product_title_shortened = product.title | remove: 'BioLite' %}

            <div id="{{ product_handle_trimmed }}" class="contact-sidebar-product">
              <div class="">

              <a href="{{ product.metafields.instructions.pdf }}" target="_blank" rel="noopener" aria-label="Opens PDF in a new tab" class="" title="Download {{ product.title }} Manual"> 
                <div class="grid__item large--one-quarter">
                  <img src="{{ product.images[0] | product_img_url: 'small' }}" alt="{{ product.title }}" title="{{ product.title }}" />
                </div>
                <div class="grid__item large--three-quarters contact-manual-text">
                  <div class="contact-sidebar-product-title">{{ product_title_shortened }}</div>
                </div>
              </a>
              <div class="clearfix"></div>
              </div>

            </div>
        	</div>
          {% endfor %}
          <div class="clearfix"></div>
        </div>	
      </div>
     </div>	
  </div>
</div>